<nav class="navigation" id="topNav">
  <img id="logo" src="kuvat/Muuvi-logo.png">
  <a id="info" href="#info">Infopankki</a>
  <a href="#excercise_plan">Liikuntasuunnitelma</a>
  <a href="/activities_and_diary">Aktiviteetit ja päiväkirja</a>
  <p id="aphorism">Mietelause</p>
  <a href="#log_out">Kirjaudu ulos</a>
  <a id="help-icon" href="#help">
    <i class="fa-solid fa-question fa-2x"></i>
  </a>
  <a href="javascript:void(0);" class="icon" onclick="topNavFunction()">
    <i class="fa fa-bars fa-2x"></i>
  </a>
</nav>